:root {
	--bg-pane: hsl(0 0% 15%);
	--pane-light: hsl(75 6% 87%);
	--pane-dark: hsl(211 53% 11%);
	--surface-light: hsl(189 75% 75%);
	--surface-medium: hsl(201 100% 36%);
	--surface-dark: hsl(239 94% 19%);
	--overlay-light: hsl(215 23% 56%);
	--overlay-medium: hsl(215 23% 45%);
	--overlay-dark: hsl(215 53% 11%);
	--text: hsl(75 5% 90%);
	--subtext-light: hsl(75 5% 85%);
	--subtitle: hsl(75 5% 80%);
	--subtext-dark: hsl(75 5% 70%);
	--red: hsl(1 100% 36%);
	--white: hsl(0 0% 100%);
}

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif; font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-pane);
	font-size: 18px;
	line-height: 1.5;
	overflow-wrap: break-word;
	text-wrap: pretty;
	color: var(--text);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: var(--text);
	font-size: 72px;
	font-weight: 900;
}

h2 {
	color: var(--subtitle);
	font-size: clamp(20px, 15cqw, 32px);
	font-weight: 800;
}

.flex-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	flex-direction: column;
}

#gameboard {
	flex-wrap: wrap;
	gap: 5vw;
	margin: 0 5vw;
}

.gameboard {
	display: grid;
	grid-template-rows: repeat(11, 1fr);
	grid-template-columns: repeat(11, 1fr);
	position: relative;
	flex: 1 1 375px;
	width: 40vw;
	aspect-ratio: 1 / 1;
}

.gameboard-container {
	flex: 1 1 375px;
	gap: 0.5em;
}

.cell {
	box-sizing: content-box;
	background-color: var(--surface-medium);
	height: clamp(32px, 100%, 70px);
	aspect-ratio: 1 / 1;
	font-weight: 900;
	font-size: 24px;
	user-select: none;
	position: relative;
	border: 1px solid var(--bg-pane);
}

.cell img {
	z-index: 5;
	background-color: transparent;
}

.gameboard p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: clamp(32px, 100%, 70px);
	aspect-ratio: 1 / 1;
	font-weight: 900;
	font-size: clamp(14px, 1cqw, 24px);
	user-select: none;
}

#computer > .cell:hover {
	background-color: var(--surface-dark);
}

.dragging-over {
	background-color: var(--surface-dark);
}

@keyframes shake {
	0%, 100% { transform: translateX(0); }
	20%, 60% { transform: translateX(-6px); }
	40%, 80% { transform: translateX(6px); }
}

.shake {
	animation: shake 200ms ease-in-out;
}

.ship {
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--overlay-medium);
	border-radius: 50%;
	border: 1px solid black;
	box-shadow: 3px 3px 3px var(--overlay-dark);
}

button {
	font-weight: 700;
	font-size: 20px;
	background-color: var(--pane-dark);
	padding: 24px 48px;
	border: 2px solid var(--overlay-light);
	border-radius: 20px;
	user-select: none;
}

button:hover {
	background-color: var(--surface-dark);
}

.hidden {
	display: none;
}
